html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: Merriweather, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  background-color: #d05c2e;
  display: block;
}

.header-icon {
  width: 40px;
  height: 40px;
}

.title-bar {
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
}

h1 {
  color: #fff;
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
}

nav ul li {
  width: 33.3333%;
  border: 2px solid #a63f38;
}

li a {
  text-align: center;
  text-decoration: none;
  background-color: #d05c2e;
  color: #fff;
  font-size: 1.125rem;
  display: block;
  padding: .4rem;
}

ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

a:hover {
  background-color: #a63f38;
}
